aiohttp==1.0.5
async-timeout==3.0.1
chardet==3.0.4
discord.py==0.16.12
discord==0.0.2
multidict==4.4.2
numpy==1.15.4
pandas==0.23.4
pip==10.0.1
python-dateutil==2.7.5
pytz==2018.7
setuptools==39.0.1
six==1.11.0
websockets==3.4
